* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-store {
    margin-top: 30px;
    margin-bottom: 60px;
}


/* .all-store .container {
    box-shadow: 2px 3px 7px 3px rgb(204 204 204);
    padding: 0px 30px 40px 30px;
} */

.store {
    padding: 0 15px;
}

.all-store-show {
    padding: 10px 20px 60px 20px;
    /* box-shadow: 2px 3px 7px 3px rgb(204 204 204); */
    border-radius: 8px;
}

.show-store {
    padding: 10px 10px 5px 10px;
    box-shadow: 2px 3px 7px 3px rgb(204 204 204);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #f1f1f1;
}

.store-img {
    height: 135px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.store-img img.main-bg {
    width: 100%;
    border-radius: 5px;
    height: 237px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.store-desc {
    background: rgba(255, 255, 255, 0.835);
    padding: 8px 10px 12px 10px;
    position: relative;
    top: -2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.store-desc-item {
    /* background: rgba(238, 235, 235, 0.794); */
    padding: 10px;
    box-shadow: 2px 3px 7px 3px rgb(204 204 204);
    display: flex;
}

.store-desc-item-img .store-logo img {
    width: 52px;
    height: 56px;
}

.store-desc-item-img .star img {
    width: 9px;
}

.store-desc-item-intro {
    padding-right: 12px;
}

.store-desc-item-intro h3 {
    font-size: 13px;
    font-weight: 700;
    padding-top: 10px;
}

.store-desc-item-intro .profile-id {
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
}

.store-desc-item-intro .store-place {
    font-size: 12px;
    font-weight: 500;
    padding-top: 8px;
}

@media(max-width:1400px) {
    .store-desc-item-intro h3 {
        font-size: 11px;
        font-weight: 700;
        padding-top: 10px;
    }
    .store-desc-item-intro .profile-id {
        font-size: 11px;
        font-weight: 500;
        padding-top: 10px;
    }
    .store-desc-item-intro .store-place {
        font-size: 11px;
        font-weight: 500;
        padding-top: 9px;
    }
}

@media(max-width:1200px) {
    .all-contractor-header-left div {
        margin-top: 14px;
    }
}

@media(max-width:767px) {
    .store-desc-item-intro h3 {
        font-size: 13px;
        font-weight: 700;
        padding-top: 10px;
    }
    .store-desc-item-intro .profile-id {
        font-size: 12px;
        font-weight: 500;
        padding-top: 10px;
    }
    .store-desc-item-intro .store-place {
        font-size: 12px;
        font-weight: 500;
        padding-top: 4px;
    }
}

@media(max-width:500px) {
    .all-contractor-header-left div {
        margin-top: 12px;
    }
}

@media(max-width:430px) {
    .store {
        padding: 0 5px;
    }
    .all-store-show {
        padding: 30px 10px 100px 10px;
        box-shadow: 2px 3px 7px 3px rgb(204 204 204);
    }
    .store-desc-item-intro h3 {
        font-size: 12px;
        font-weight: 700;
        padding-top: 10px;
    }
    .store-desc-item-intro .profile-id {
        font-size: 11px;
        font-weight: 500;
        padding-top: 10px;
    }
    .store-desc-item-intro .store-place {
        font-size: 11px;
        font-weight: 500;
        padding-top: 9px;
    }
}

@media(max-width:400px) {
    .all-store .container {
        box-shadow: 2px 3px 7px 3px rgb(204 204 204);
        padding: 0px 10px 40px 10px;
    }
}

@media(max-width:340px) {
    .all-store .container {
        box-shadow: 2px 3px 7px 3px rgb(204 204 204);
        padding: 0px 5px 40px 5px;
    }
}

.best-contractore-slider-show .show-store {
    width: 280px;
}

.best-contractore-slider-show .show-store .star {
    display: flex;
    margin-top: 5px;
}

.best-contractore-slider-show .show-store .star img {
    margin-left: 5px;
}

.best-contractore-slider-show .show-store .store-desc-item-intro .store-place {
    font-size: 11px;
    font-weight: 500;
    padding-top: 8px;
}

.store-desc-item-intro .profile-id {
    font-size: 11px;
    font-weight: 500;
    padding-top: 8px;
}
